.row
  .col.mb-3
    = generate_back_link(@album, @video)
    = link_to 'Bearbeiten', edit_album_video_path(@album, @video), class: 'btn btn-secondary'
.row
  .col
    %figure.figure
      - if @video.completed?
        %video.ratio.ratio-16x9{controls: 'true', post: url_for(@video.preview_image.variant(:thumb))}
          %source{src: url_for(@video.video_file), type: 'video/mp4'}
      - else
        - if @video.failed?
          .d-flex.align-items-center.justify-content-center{style: 'min-height: 18rem; background-color: #c0c0c0;'}
            %h1 😵
        - else
          .d-flex.align-items-center.justify-content-center{style: 'min-height: 18rem; min-width: 20rem; background-color: #c0c0c0;'}
            .spinner-border.text-dark.top-50{role: 'status'}
              %span.visually-hidden Video is processing...
      %figcaption.figure-caption
        = I18n.l(@video.created_at, format: :long)
.row
  .col
    %p= @video.description

- @video.comments.each do |comment|
  .row
    .col
      %p
        .text-muted
          = comment.name
          = "(#{I18n.l(comment.created_at, format: :long)}):"
        = comment.comment
