%p#notice= notice

.row
  .col.mb-3
    = link_to 'Zurück', album_path(@album, anchor: "#{dom_id @video}"), class: 'btn btn-primary'
    = link_to 'Bearbeiten', edit_album_video_path(@album, @video), class: 'btn btn-secondary'
.row
  .col
    %figure.figure
      - if @video.completed?
        %video.ratio.ratio-16x9{controls: 'true', post: url_for(@video.preview_image.variant(:thumb))}
          %source{src: url_for(@video.video_file), type: 'video/mp4'}
      - else
        - if @video.failed?
          .d-flex.align-items-center.justify-content-center{style: 'min-height: 18rem; background-color: #c0c0c0;'}
            %h1 😵
        - else
          .d-flex.align-items-center.justify-content-center{style: 'min-height: 18rem; min-width: 20rem; background-color: #c0c0c0;'}
            .spinner-border.text-dark.top-50{role: 'status'}
              %span.visually-hidden Video is processing...
      %figcaption.figure-caption
        = I18n.l(@video.created_at, format: :long)
.row
  .col
    %p= @video.description

- @video.comments.each do |comment|
  .row
    .col
      %p
        .text-muted
          = comment.name
          = "(#{I18n.l(comment.created_at, format: :long)}):"
        = comment.comment
        = link_to 'Löschen', album_video_comment_path(@album, @video, comment), data: { turbo_confirm: 'Kommentar wirklich löschen?', turbo_method: :delete }

.row
  .col
    %h3 Neuer Kommentar
    = form_for [@album, @video, @comment], class: 'mb-3' do |f|
      - if @comment.errors.any?
        #error_explanation
          %h2= "#{pluralize(@comment.errors.count, "error")} prohibited this comment from being saved:"
          %ul
            - @comment.errors.full_messages.each do |message|
              %li= message

      .mb-3
        = f.label :name, class: 'form-label'
        = f.text_field :name, class: 'form-control'
      .mb-3
        = f.label :comment, class: 'form-label'
        = f.text_area :comment, class: 'form-control'
      .actions
        = f.submit 'Speichern', class: 'btn btn-primary'
