%h1
  = @album.name
  Passcode

= form_with url: album_authenticate_index_path(album_id: @album) do |f|
  .mb-3
    = f.label :name, class: 'form-label'
    = f.text_field :name, class: 'form-control', required: true
  .mb-3
    = f.label :passcode, class: 'form-label'
    = f.text_field :passcode, class: 'form-control', required: true
  .actions
    = f.submit 'Speichern', class: 'btn btn-primary'
