= form_with(model: album) do |form|
  - if album.errors.any?
    %div{:style => "color: red"}
      %h2
        = pluralize(album.errors.count, "error")
        prohibited this album from being saved:
      %ul
        - album.errors.each do |error|
          %li= error.full_message
  .mb-3
    = form.label :name, class: 'form-label'
    = form.text_field :name, class: 'form-control', required: true
  .mb-3
    = form.label :passcode, class: 'form-label'
    = form.text_field :passcode, class: 'form-control', required: true
  .actions
    = form.submit 'Speichern', class: 'btn btn-primary'
