.col-md-4.mb-3
  .card{id: "#{dom_id picture}"}
    = link_to album_picture_path(@album, picture) do
      %img.card-img-top{ src: url_for(picture.file.variant(:thumb)), loading: 'lazy', alt: picture.description }
    .card-body
      %p.card-text
        %small.text-muted
          %i.fa.fa-camera
          = I18n.l(picture.created_at, format: :long)
      %p.card-text
        = picture.description
      %small.text-muted= pluralize(picture.comments.length, 'Kommentar:', plural: 'Kommentare:')

      - picture.comments.each do |comment|
        .row
          .col
            %p
              .text-muted
                = comment.name
                = "(#{I18n.l(comment.created_at, format: :long)}):"
              = comment.comment
              - unless current_user.is_album_user?
                = button_to album_picture_comment_path(@album, picture, comment), class: 'btn btn-outline-danger btn-sm', method: :delete, data: { turbo_confirm: 'Kommentar wirklich löschen?', turbo_method: :delete } do
                  %i.fas.fa-trash
      .row
        .col
          %button.btn.btn-primary.btn-sm{"data-bs-target" => "#commentModal-#{picture.id}", "data-bs-toggle" => "modal", type: "button"}
            %i.fa.fa-plus
            Kommentar
          .modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", tabindex: "-1", id: "commentModal-#{picture.id}"}
            .modal-dialog
              .modal-content
                .modal-header
                  %h5#exampleModalLabel.modal-title Neuer Kommentar
                  %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "modal", type: "button"}
                .modal-body
                  - @comment = Comment.new
                  = form_for [@album, picture, @comment], class: 'mb-3' do |f|
                    - if @comment.errors.any?
                      #error_explanation
                        %h2= "#{pluralize(@comment.errors.count, "error")} prohibited this comment from being saved:"
                        %ul
                          - @comment.errors.full_messages.each do |message|
                            %li= message

                    - if cookies[:commenter_name].blank?
                      .mb-3
                        = f.label :name, class: 'form-label'
                        = f.text_field :name, class: 'form-control'
                    - else
                      = f.hidden_field :name, value: cookies[:commenter_name]
                    .mb-3
                      = f.label :comment, class: 'form-label'
                      = f.text_area :comment, class: 'form-control'
                    .actions
                      = f.submit 'Speichern', class: 'btn btn-primary'
                .modal-footer
                  %button.btn.btn-secondary{"data-bs-dismiss" => "modal", type: "button"} Schließen
