.col-md-4.mb-3
  .card{id: "#{dom_id video}"}
    - if video.completed?
      -# %img.card-img-top{ src: url_for(video.preview_image.variant(:thumb)), loading: 'lazy', alt: video.description }
      %video.ratio.ratio-16x9{controls: 'true', preload: 'auto', poster: url_for(video.preview_image.variant(:thumb))}
        %source{src: url_for(video.video_file), type: 'video/mp4'}
    - else
      - if video.failed?
        = link_to album_video_path(@album, video), class: 'text-decoration-none' do
          .d-flex.align-items-center.justify-content-center{style: 'min-height: 18rem; background-color: #c0c0c0;'}
            %h1 😵
      - else
        .d-flex.align-items-center.justify-content-center{style: 'min-height: 18rem; background-color: #c0c0c0;'}
          .spinner-border.text-dark.top-50{role: 'status'}
            %span.visually-hidden Video is processing...
    .card-body
      %p.card-text
        %small.text-muted
          %i.fa.fa-video
          = I18n.l(video.created_at, format: :long)
      %p.card-text
        = video.description
      %small.text-muted= pluralize(video.comments.length, 'Kommentar', plural: 'Kommentare')

      - video.comments.each do |comment|
        .row
          .col
            %p
              .text-muted
                = comment.name
                = "(#{I18n.l(comment.created_at, format: :long)}):"
              = comment.comment
              = button_to album_video_comment_path(@album, video, comment), class: 'btn btn-danger btn-sm', method: :delete, data: { turbo_confirm: 'Kommentar wirklich löschen?', turbo_method: :delete } do
                %i.fas.fa-trash
      .row
        .col
          %button.btn.btn-primary.btn-sm{"data-bs-target" => "#commentModal-#{video.id}", "data-bs-toggle" => "modal", type: "button"}
            %i.fa.fa-plus
            Kommentar
          .modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", tabindex: "-1", id: "commentModal-#{video.id}"}
            .modal-dialog
              .modal-content
                .modal-header
                  %h5#exampleModalLabel.modal-title Neuer Kommentar
                  %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "modal", type: "button"}
                .modal-body
                  - @comment = Comment.new
                  = form_for [@album, video, @comment], class: 'mb-3' do |f|
                    - if @comment.errors.any?
                      #error_explanation
                        %h2= "#{pluralize(@comment.errors.count, "error")} prohibited this comment from being saved:"
                        %ul
                          - @comment.errors.full_messages.each do |message|
                            %li= message

                    .mb-3
                      = f.label :name, class: 'form-label'
                      = f.text_field :name, class: 'form-control'
                    .mb-3
                      = f.label :comment, class: 'form-label'
                      = f.text_area :comment, class: 'form-control'
                    .actions
                      = f.submit 'Speichern', class: 'btn btn-primary'
                .modal-footer
                  %button.btn.btn-secondary{"data-bs-dismiss" => "modal", type: "button"} Schließen
