%h1 Listing pictures

%table
  %thead
    %tr
      %th File
      %th Description
      %th
      %th
      %th

  %tbody
    - @pictures.each do |picture|
      %tr
        %td= picture.file
        %td= picture.description
        %td= link_to 'Show', album_picture_path(@album, picture)
        %td= link_to 'Edit', edit_album_picture_path(@album, picture)
        %td= link_to 'Destroy', album_picture_path(@album, picture), method: :delete, data: { confirm: 'Are you sure?', 'turbo-method': :delete }

%br

= link_to 'New Picture', new_album_picture_path(@album)
