.row
  .col.mb-3
    = generate_back_link(@album, @picture)
    = link_to 'Bearbeiten', edit_album_picture_path(@album, @picture), class: 'btn btn-secondary' unless current_user.is_album_user?
    = link_to 'Neues Foto hochladen', new_album_picture_path(@album), class: 'btn btn-secondary' unless current_user.is_album_user?
.row
  .col
    %figure.figure
      %img.img-fluid.rounded{src: url_for(@picture.file.variant(:large)), alt: @picture.description }
      %figcaption.figure-caption
        = I18n.l(@picture.created_at, format: :long)
.row
  .col
    %p= @picture.description

- @picture.comments.each do |comment|
  .row
    .col
      %p
        .text-muted
          = comment.name
          = "(#{I18n.l(comment.created_at, format: :long)}):"
        = comment.comment
