!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Photastic2
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true
  %body
    = render 'layouts/navbar'
    .container

      - if notice
        .alert.alert-success.alert-dismissible.fade.show{:role => "alert"}
          = notice
          %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "alert", :type => "button"}
      - if alert
        .alert.alert-danger.alert-dismissible.fade.show{:role => "alert"}
          = alert
          %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "alert", :type => "button"}

      = yield
